#simple-preview-banner{
    text-align:center;
    color:inherit;
    opacity:.88;
    background: #dbdbdb;
    text-align: center;
    transition: .5s;
    font-family:sans-serif;
    margin: 25px 15px 25px 0px;
    position:relative;
}
#simple-preview-banner:before {
    content: "preview";
    position: absolute;
    top: -10px;
    left: -15px;
    background: red;
    padding: 4px 12px;
    color: white;
    border-radius: 100px;
    transform: rotate(-15deg);
    border: 4px solid white;
}
button#preview-reload {
    opacity:0;
    width:0;
    height:0;
    overflow:hidden;
    position: absolute;
    right: 10px;
    bottom: 150px;
    border: none;
    padding: 7px 15px;
    background: #35669f;
    color: white!important;
    cursor:pointer;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
}
p#message {
    color: red;
    font-style: italic;
}
#save-button{
    display: block;
    margin: 15px 0px;
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    background: #3a6eb6;
    cursor:pointer;
}
#simple-preview-banner h1 {
    display: inline-block;
    text-transform:uppercase;
    font-weight:bold;
    padding: 5px;
    font-size: 30px;
    transition: .5s;
}
#simple-preview-banner p {
    font-size: 16px;
    line-height: 1.3;
    padding: 10px;
    margin:0px;
    transition: .5s;
}
#simple-preview-banner a{
    color:inherit;text-decoration:none;
}
form label {
    display: inline-block;
    margin: 10px 0px;
    font-weight: bold;
}
.form-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 15px;
}
.form-inner input {
    padding: 7px 12px;
}
.available-colors {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.available-colors > div {
    border: 1px solid #8e8e8e1a;
    padding: 8px;
    margin: 10px auto;
    background: white;
}
.available-colors input {
    border-radius: 0px;
    width: 30px;
    height: 30px;
    margin: 2px;
	border: 0;
	transition: transform .4s;
}
.available-colors input:hover{
	transition: transform .4s;
}
.available-colors input:checked {
    border: 2px solid #fff;
    box-shadow: 0px 0px 30px #00000085;
    color: white;
    transform: scale(1.1) rotate(45deg);
}
input#hide-promo-banner{ transition:.4s; -webkit-transition:.4s; -moz-transition:.4s; -ms-transition:.4s; -o-transition:.4s; }
input#hide-promo-banner:before,
input#hide-promo-banner:checked:before {
    top: 0;
    left: 0;
    width: 100px;
    height: 35px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: sans-serif;
    font-size: 12px;
    margin:0;
}
input#hide-promo-banner:before{content: 'Show';}
input#hide-promo-banner:checked:before{content: 'Hide';}
input#hide-promo-banner {
    width: 100px;
    height: 35px;
    display: block;
    border: none;
    position: relative;
    background:limegreen;
}
input#hide-promo-banner:checked{
    font-family: sans-serif;
    font:initial!important;
    background:red;
    color:white;
    font-size: smaller;
}
.banner-exclusions-container {
    background-image: linear-gradient(45deg, white, transparent);
    margin: 15px 0px;
    padding: 10px;
    border-left: 10px solid #ff0000;
}
.banner-exclusions-inner-wrapper{
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
label.banner-exclusions-container-label:hover {
    color: #3a6eb6;
    text-decoration:underline;
}
.banner-exclusions-container-label span {
    font-size: 10px;
    font-weight: lighter;
    color: #ababab;
}
span#add-exclusion {
    padding: 5px;
    background: #3a6eb6;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 5px 0px;
}
.closed {
    z-index: -1;
    height: 0;
    overflow: hidden;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.inputExclusionContainer {
    display: flex;
    align-items: stretch;
}
.inputExclusionContainer span {
    background: #d84646;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
.inputExclusionContainer span:hover {
    padding: 10px 25px;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}